<!--Paleo Recipe Finder-->
<!--This is the HOMEPAGE upon startup. Called apology.html because distribution code of CS50 Finance (PSET 8) calls for it.-->

{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <!--An introduction to the purpose of the website.-->
    <div class="jumbotron white_box">
      <h3 class="display-4">Welcome to<br> healthful yumminess.</h3>
      <br>
      <p class="lead">This website is a simple tool that allows you to search for<br> or find a random
        paleo recipe.<br><br>
        <a class="text-info" href="login">Log in</a> or <a class="text-info" href="register">register</a> to get recipes!
      </p>
    </div>
{% endblock %}
