<!--# Paleo Recipe Finder-->
<!--The default scheme of the website that will be used across all pages.-->
<!--Jinja is used to give each page its unique identity, with this layout as the default.-->

<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--Website theme found here: https://www.bootstrapcdn.com/bootswatch/-->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sketchy/bootstrap.min.css" rel="stylesheet">

        <!-- Favicon: https://gauger.io/fonticon/ -->
        <link type="image/x-icon" href="/static/images/drumstick.ico" rel="icon">

        <!--CSS-->
        <link href="/static/styles.css" rel="stylesheet">

        <!--JavaScript for Alert transitions-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>Paleo Recipe Finder: {% block title %}{% endblock %}</title>
    </head>
    <body class="body_image">
        <!--nav contains all navbar elements.-->
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <!--The user is logged in.-->
            {% if session.user_id %}
                <!--Color: Olive Drab-->
                <a class="navbar-brand" disable><span style="color:#6B8E23">Paleo Recipe Finder</span></a>
            <!--The user is logged out.-->
            {% else %}
                <a class="navbar-brand" href="/apology"><span style="color:#6B8E23">Paleo Recipe Finder</span></a>
            {% endif %}
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <!--The user is logged in.-->
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item">
                            <button class="btn" disabled type="submit">  </button>
                        </li>
                        <li class="nav-item">
                            <!--A search bar that will allow the user to enter key terms to search for a paleo recipe-->
                            <form action="/search" method="post">
                                <div class="form-group">
                                    <input autocomplete="off" autofocus class="form-control" style="width: 510px" name="search_terms" placeholder="Search for a recipe by ingredients separated by spaces (e.g., lemon parsley salmon)" type="text">
                                </div>
                            </form>
                        </li>
                        <li class="nav-item">
                            <button class="btn" disabled type="submit">or</button>
                        </li>
                        <li class="nav-item">
                            <!--A button for find a random recipe and displaying it to the user-->
                            <form action="/find">
                                <div>
                                    <button class="btn btn-primary" type="submit">Get a random recipe!</button>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                <!--The user is logged out.-->
                {% else %}
                    <ul class="navbar-nav mr-auto mt-2">
                            <li><b>A simple tool to help you get better recipes.</b></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        <!--Part of distribution code. I don't think my code uses it at all, but will keep it just in case.-->
        <!--{% if get_flashed_messages() %}-->
        <!--    <header>-->
        <!--        <div class="alert alert-primary border text-center" role="alert">-->
        <!--            {{ get_flashed_messages() | join(" ") }}-->
        <!--        </div>-->
        <!--    </header>-->
        <!--{% endif %}-->

        <!--Main content of each page filled in via Jinja.-->
        <main class="container p-4">
            {% block main %}{% endblock %}
        </main>

        <!--Footer-->
        <footer class="medium text-center text-light">
            Feeling curious? Check out <a class="text-warning" href="https://paleoleap.com/paleo-article-index/" target="_blank">Paleo Leap </a> for useful Paleo articles and even more Paleo recipes!
        </footer>
    </body>
</html>