<!--# Paleo Recipe Finder-->
<!--If the user gives a bad search input, this page will be displayed to them.-->

{% extends "layout.html" %}

{% block title %}
    Sorry!
{% endblock %}

{% block main %}
    <!--Display an alert under the login UI if the user does not fill in the form correctly.-->
    <div class="alert alert-dismissible alert-warning fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Warning! {{ error_code }}</h4>
        <p class="mb-0">{{ message }}</a>.</p>
    </div>
{% endblock %}
